---
import { PurchaseForm } from '@/components/purchase-form'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="FF Franco">
    <main>
        <PurchaseForm client:load />
    </main>
</Layout>
