---
import Layout from '@/layouts/Layout.astro'
import { Button } from '@/components/ui/button'
---

<Layout title="FF Maca">
    <main>
        <h1>FLUJO DE FONDOS</h1>
        <div class="flex gap-4 p-10 pb-4">
            <Button>
                <a href="/ingreso">INGRESO</a>
            </Button>
            <Button>
                <a href="/egreso">EGRESO</a>
            </Button>
        </div>
        <Button variant={'secondary'}>
            <a
                target="_blank"
                href="https://docs.google.com/spreadsheets/d/1t1E3pajOEiayAGx6VM5Ag9ohpEfWTwBbKJ6Blge_xNQ/edit?gid=2089853500#gid=2089853500"
                >DRIVE</a
            >
        </Button>
        <iframe
            src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSa29-Ip9m-fHs0B41eDIXZ1_YLRr1WagwzHFnFfUc5m2PS8sw2eKKBCWnjfS-msu9XMxpnpfzFGyM1/pubhtml?gid=2027687483&single=true&widget=true&headers=false"
            class="w-[520px] h-[220px] mt-4"></iframe>
    </main>
</Layout>

<style>
    @media (max-width: 768px) {
        iframe {
            width: 100%;
            max-width: 520px;
        }
    }
</style>
