---
import Layout from '@/layouts/Layout.astro'
import { IncomeForm } from '@/components/income-form'
---

<Layout title="FF Franco">
    <main>
        <IncomeForm client:load />
    </main>
</Layout>
